.social {
    padding: 5px;
  }
  .sharer button{
      color: red;
  }
  /* body{
      background-color: black;
  } */
  a{
      color: darkblue;
  }
  #borderDemo {
    border: 5px inset black;
    background-color: black;
    }
    .redarea{
        background-color: #f10a0a;
    }
    .blackarea{
        background-color: #000000;
    }